body {
    font-size: 15px;
    background-color: #d6c7c7;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Itim';
}

.container {
    background-color: slategrey
}

.btn-width {
    width: -webkit-fill-available;
    height: 36px;
    line-height: normal;
}

.btn-width2 {
    width: -webkit-fill-available;
    height: 36px;
    line-height: normal;
}

.trigo-btn-width {
    width: -webkit-fill-available;
    height: 35px;
    line-height: normal;
    background-color: white;
    border: none;
}

.hyp-btn {
    width: fit-content;
    height: 36px;
    line-height: normal;
}

.cal-width {
    width: 400px;
}

input {
    width: inherit;
    height: 70px;
    text-align: end;
}

.dropdown-toggle::after {
    content: none;
}

.col-5 {
    width: 40.050% !important;
}

.col-2 {
    width: 20.056667%;
}

.dropdown-menu {
    min-width: 230px;
    padding: 1px;
}

.hyp-menu {
    inset: 0px auto auto -155px !important;
    padding: 0px !important;
}

.menu-size {
    transform: translate3d(0px, 35px, 0px) !important;
}

.btn2-show {
    display: none;
}

button:hover {
    background-color: rgb(146, 199, 214) !important;
}